header{
    background-image: url(../furnitureImages/headerImage.png);
    background-size: cover;
    background-position: center;
    

}
.tall{
    height: 500px;
}

.bgTan{
    background-color: antiquewhite;
}